/* .element {
    display: flex;
    width: 286px;
    height: 387px;
    align-items: flex-start;
    gap: 10px;
    padding: 24px;
    position: relative;
    background-color: #ffffff;
    border-radius: 12px;
    border: 2px solid;
    border-color: #a47e75;
}

.element .content {
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 213px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
}

.element .picture {
    position: relative;
    width: 237px;
    height: 213px;
    background-color: #dedede;
    border-radius: 12px;
    overflow: hidden;
}

.element .asset {
    position: absolute;
    width: 210px;
    height: 168px;
    top: 22px;
    left: 13px;
    object-fit: cover;
}

.element .frame {
    display: flex;
    flex-direction: column;
    width: 229px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -50px;
}

.element .text-wrapper {
    position: relative;
    width: 128px;
    margin-top: -1px;
    font-family: "Source Code Pro-Medium", Helvetica;
    font-weight: 500;
    color: #534a47;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element .buy-now-button {
    position: relative;
    width: 194px;
    height: 42px;
    margin-bottom: -116px;
    box-shadow: 0px 4px 4px #00000040;
    all: unset;
    box-sizing: border-box;
}

.element .overlap-group {
    position: relative;
    width: 192px;
    height: 45px;
    left: 24px;
}

.element .rectangle {
    position: absolute;
    width: 186px;
    height: 45px;
    top: 0;
    left: 4px;
    background-color: #332623;
    border-radius: 18px;
}

.element .div {
    position: absolute;
    width: 192px;
    height: 44px;
    top: 0;
    left: 0;
    font-family: "Baloo 2-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffe1cc;
    font-size: 31px;
    text-align: center;
    letter-spacing: 0;
    line-height: 35.8px;
} */
